@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');

/* CSS code */
body {
  /* background:#808782; */
  padding: 20px;
  background:#0d1e3a;
  color: white;
  text-align: center;
  font-family: 'poppins'; sans-serif;
  }
  
  h1 {
    font-size: large;
  } 
  p {
    font-size: small;
  }
  a{
    text-decoration: none;
    color:white
  }

.profile-img {
  width: 50%;
  border-radius: 50%
}

.btn {
 display: block;
 color: black;
 padding: 30px;
 background:white;
 margin: 16px;
 box-shadow: 10px 10px lightblue;
}